@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div data-ng-controller="shell as vm">
    <header class="clearfix">
        <div data-ng-include="'/app/layout/topnav.html'"></div>
    </header>
    <section id="content" class="content">
            Admin View
        <div data-ng-view class="shuffle-animation"></div>
    </section>
</div>
